.wordbox {
  display: inline-block;
  position: relative;
  padding: 48px;
  margin: 4px;
  background-color: pink;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 16px;
  border-radius: 8px;
  z-index: 1;
  color: black;
  transition: color 0.3s ease;
}

.wordbox--mistake {
  background-color: #e64747;
  color: white;
}

