.stage {
  height: 340px;
  padding: 32px;
  margin: 32px auto;
  background-color: #efefef;
  border-radius: 8px;
}

.stage__mistakes {
  text-align: center;
  margin-bottom: 64px;
}

.stage__words {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.wordbox {
  font-size: 48px;
  font-weight: bold;
  color: black;
  transition: color 0.3s ease;
}

.wordbox.mistake {
  color: red;
}