@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  font-size: 32px;
  text-align: center;
  color: black;
}

body {
  background-image: url('./datluj.png');
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;  
  background-attachment: fixed;   
  opacity: 0.8;                   
}